.header{
    background-color: #316DC3;
    
}
.icon-bar a:hover{
    background-color: rgb(39, 113, 216);

}
.navbar a:hover{
    background-color:#0275d8;
  
}
.title-icon{
    position: relative;

}

.title-icon:before{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    top: 80%;
    left:470px;
    z-index: -2;
    background-color: #427900;
    position: absolute; 

}

.title-icon:after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    top: 80%;
    right: 470px;
    z-index: -2;
    background-color: #427900;
    position: absolute; 

}
.counter{
    background-color: #316DC3;
    font-family: serif;
}
.h2{
    color: #316DC3;
    font-weight: 600;
    font-family: serif;

}


.line-bottom {
    color: #316DC3;
    font-family: serif;
    
}
.line{
    width: 60px;
    height: 3px;
    background-color: #427900;
    display: block;
}
.h4b{
    font-weight: 600;
    color: #316DC3;
    display:inline-block;
    font-size: 15px;
}

.gallery{
    font-family: serif;

}
h4{
    font-family: serif;
}
.contect{ 
    font-family:sans-serif;
    font-size: 14px;
    padding-top: 70;
    padding-bottom: 40;
    margin-top: 150px ;
}
.widget{
    color: #bbb;
    
}

.text-theme-colored{
    color: #427900;
}
.icon{
    background-color: #316DC3;
 border-radius: 50%;
 border: 1x solid grey;
 
}
.ab{
    display: inline;
}
.footer{
    background-color: #316DC3;
}
.foot-note{
    color: white;
    font-size: 12px;
}
.go-to-top{
    color:white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgb(57, 61, 61);

    text-decoration: none;
    text-align: center;
    font-size: 50px;
    line-height: 20px;
}